<.flash_group flash={@flash} />
<.navigation_bar current_user={assigns[:current_user]} current_page={assigns[:current_page]} />
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto ">
    <%= @inner_content %>
  </div>
</main>
