<.flash_group flash={@flash} />
<%= if assigns[:current_page] in [:home, :bookings, :book, :about, :profile] do %>
  <.navigation_bar current_user={assigns[:current_user]} current_page={assigns[:current_page]} />
<% end %>
<main>
  <div class="mx-auto ">
    <%= @inner_content %>
  </div>
</main>
